/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/wx-audio/_audio.scss */
.wx-audio-content {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 300px;
  height: auto;
  padding: 10px;
  border: 1px solid rgba(33, 44, 55, 0.3);
  margin: 30px auto;
  font-size: 0;
}
/* line 9, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-info {
  display: none;
}
/* line 12, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-left {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 42px;
  height: 100%;
}
/* line 16, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-left .wx-audio-state {
  width: 100%;
  height: 100%;
}
/* line 21, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: calc(100% - 42px);
  font-size: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}
/* line 27, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-title {
  padding-top: 2px;
  padding-bottom: 8px;
  width: 100%;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 34, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-disc {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-top: 2px;
  padding-bottom: 8px;
  font-size: 12px;
  color: #8c8c8c;
}
/* line 42, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-progrees {
  height: 2px;
  width: calc(100% - 4px);
  position: relative;
}
/* line 46, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail {
  height: 100%;
  width: 100%;
  background: #ebebeb;
  position: relative;
  cursor: pointer;
}
/* line 52, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail .wx-voice-p {
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #09bb07;
  z-index: 2;
}
/* line 63, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail .wx-buffer-p {
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #d9d9d9;
  z-index: 1;
}
/* line 74, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail .wx-loading {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 82, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail .wx-loading .wx-loading-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  -moz-animation: slidein 6s linear infinite normal;
  -webkit-animation: slidein 6s linear infinite normal;
  animation: slidein 6s linear infinite normal;
  width: 200%;
  max-width: none !important;
  background-image: -moz-repeating-linear-gradient(-15deg, #d9d9d9, #d9d9d9 2px, #ebebeb 2px, #ebebeb 4px);
  background-image: -webkit-repeating-linear-gradient(-15deg, #d9d9d9, #d9d9d9 2px, #ebebeb 2px, #ebebeb 4px);
  background-image: repeating-linear-gradient(-15deg, #d9d9d9, #d9d9d9 2px, #ebebeb 2px, #ebebeb 4px);
}
@keyframes slidein {
  0% {
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 105, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-audio-origin {
  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #09bb07;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
}
/* line 118, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-audio-origin:before {
  content: " ";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: rgba(9, 187, 7, 0.3);
  top: 50%;
  margin-top: -6px;
  margin-left: -3px;
  cursor: pointer;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
/* line 138, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-time {
  width: 100%;
  padding-top: 6px;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 144, ../sass/wx-audio/_audio.scss */
.wx-audio-content .wx-audio-right .wx-audio-time span {
  font-size: 12px;
  color: #8c8c8c;
}
